@model IEnumerable<MyProfile.Models.Other>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Other Table</h1>

<p>
    <a asp-action="Create" class="btn btn-outline-primary btn-sm float-end">Create New Other</a>
    <br />
</p>
<table class="table table-hover"
       id="table"
       data-show-export="true"
       data-export-types="['json', 'xml','csv', 'txt', 'sql', 'doc', 'excel', 'pdf']"
       data-export-options='{"fileName": "TableFile"}'
       data-show-columns="true"
       data-show-toggle="true"
       data-search="true"
       data-pagination="true"
       data-resizable="true"
       data-show-pagination-switch="true"
       data-show-fullscreen="true"
       data-show-print="true"
       data-show-copy-rows="true">
    <thead>
        <tr class="text-center table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CvPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ImageSiteBarPath)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Resume)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="text-center">
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                <a style="text-decoration:none;" download href="@Url.Content("./assets/Image/ImageAndFileOther/"+item.CvPath)"><i class="bi bi-download"></i> Download</a>
                <br><br>
                <iframe width="600" height="300" class="embed-responsive-item" src="@Url.Content("./assets/Image/ImageAndFileOther/"+item.CvPath)" allowfullscreen></iframe>    
            </td>
            <td>
                    <img src="@Url.Content("./assets/Image/ImageAndFileOther/"+item.ImageSiteBarPath)" class="img-thumbnail" width="350" height="600" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Resume.Name)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id" class="text-warning">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id" class="text-info" >Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id" class="text-danger" >Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
<br />
<br />
<br />
<script>
    $(function () {
        $('#table').bootstrapTable()
    })
</script>